@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
a{
  cursor: url(images/pen0.png), auto;
  color:skyblue;
}
a:visited{
  cursor: url(images/pen1.png), auto;
  color:cornflowerblue;
}
@font-face{
  font-family:"garamond";
  src: url(https://ondine.neocities.org/fonts/garamond.ttf);
}
@font-face{
  font-family:"garamondital";
  src: url(https://ondine.neocities.org/fonts/garamond-italic.ttf);
}
@font-face{
  font-family:"Dico";
  src: url(https://ondine.neocities.org/fonts/Dico.ttf);
}
@font-face{
  font-family:"KM";
  src: url(https://ondine.neocities.org/fonts/KonradModern.ttf);
}
body{font-family:"garamond", serif;
cursor: url(https://ondine.neocities.org/images/pen.png), auto;}
i{font-family:"garamondital" !important;}
.special{
a, img:hover{
  cursor: url(https://ondine.neocities.org/images/pen0.png), auto;
  border:1px dotted silver;}
h1{font-family:"Dico" !important}
a, img:active{
  cursor: url(https://ondine.neocities.org/images/pen1.png), auto;
  }
}
.quote{
  p{text-indent:0px;}
  padding:12px;
  margin:20px;
}
.indent1{text-indent:15px;}
.indent2{text-indent:30px;}
.indent3{text-indent:45px;}
.indent4{text-indent:35px;}

.poetryheader{
    margin-top:-10px;
    font-family:"Dico"; !important
    margin:auto;
    margin-left:15%; margin-right:15%;
}
.rutitle{font-family:"garamond"; !important}
.title{
    justify-content: center;
    align-items: center;
    padding:20px;
    font-family:"Dico" !important}
}
.poetrybody{
    padding:10px;
    font-family:"garamond";
}
@media screen and (min-width:320px) and (max-width:640px) {
.poetryheader{margin-left:0%; margin-right:0%;}
.hidden{width:0px;height:0px;}
}